/**
 * https://juejin.cn/book/6844733826191589390/section/6844733826288058381  公共样式
 */
// *{
//   margin: 0;
//   padding: 0;
// }
//移动端点击高亮
html,body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, body * {
  padding: 0;
  margin: 0;
}

input{
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
textarea{
  border: none;
  outline: none;
}
button{
  border: none;
  outline: none;
}
a{
  text-decoration: none;
  color: #333;
}
li{
  list-style-type: none;
}
//解决端遮罩层穿透
body.dialog-open {
  position: fixed;
  width: 100%;
}

